NODE_ENV=development # production || development

#SERVER
HOST=localhost # server host
PORT=5000 # server port

#MYSQL
MYSQLDATABASE=icar # mysql database name
MYSQLHOST=localhost # mysql database host
MYSQLPORT=3306 # mysql database port
MYSQLUSER=root # mysql database user
MYSQLPASSWORD= # mysql database password
MYSQL_URL=mysql://root:@localhost:3306/icar

#OSRM
OSRM_HOST=localhost # osrm server host
OSRM_PORT=5001 # osrm server port
OSRM_URL=http://localhost:5001/route/v1/driving # osrm server url

#SECURITY
JWT_SECRET= # secret token
BCRYPT_SALT_ROUNDS=10 # salt rounds